<!DOCTYPE html>
<html lang="en">

<head>
  <base href="/" />
  <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" type="text/css" href="/css/home.css" />
  <link rel="stylesheet" type="text/css" href="/css/admin.css" />
  <link rel="stylesheet" type="text/css" href="/css/about.css" />
  <link rel="stylesheet" type="text/css" href="/css/navbar.css" />
  <link rel="stylesheet" type="text/css" href="/css/gallery.css" />
  <link rel="stylesheet" type="text/css" href="/css/details.css" />
  <link rel="stylesheet" type="text/css" href="/css/test.css" />
  <link rel="stylesheet" type="text/css" href="/angular-loading-bar/build/loading-bar.css" />
  <link rel="stylesheet" type="text/css" href="/angular-material/angular-material.css" />
  <link href='/Geometric415-Medium.ttf' rel='stylesheet' type='text/css'>
  <link href='/Geometric415-MediumItalic.ttf' rel='stylesheet' type='text/css'>
  <script src="/jquery/dist/jquery.js"></script>
  <script src="/@vimeo/player/dist/player.js"></script>
  <script src="/jquery-zoom/jquery.zoom.js" defer></script>
  <script src="/jq-clipthru/build/jquery-ui-1.10.4.custom.min.js" defer></script>
  <script src="/jq-clipthru/build/jq-clipthru.js" defer></script>
  <script src="/materialize-css/dist/js/materialize.js"></script>
  <script src="/lodash/lodash.js"></script>
  <script src="/bluebird/js/browser/bluebird.js"></script>
  <script src="/angular/angular.js" defer></script>
  <script src="/angular-aria/angular-aria.js" defer></script>
  <script src="/angular-animate/angular-animate.js" defer></script>
  <script src="/angular-material/angular-material.js" defer></script>
  <script src="/angular-ui-router/release/angular-ui-router.js" defer></script>
  <script src="/angular-ui-bootstrap/dist/ui-bootstrap.js" defer></script>
  <script src="/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js" defer></script>
  <script src="/angular-loading-bar/build/loading-bar.js" defer></script>
  <script src="/ng-file-upload/dist/ng-file-upload.min.js" defer></script>
  <script src="js/auth/auth.js" defer></script>
  <script src="js/app.js" defer></script>
  <script src="js/common/project.factory.js" defer></script>
  <script src="js/common/exhibit.factory.js" defer></script>
  <script src="js/common/altview.factory.js" defer></script>
  <script src="js/common/file.factory.js" defer></script>
  <script src="js/home/home.controller.js" defer></script>
  <script src="js/home/home.state.js" defer></script>
  <script src="js/login/login.state.js" defer></script>
  <script src="js/gallery/gallery.controller.js" defer></script>
  <script src="js/gallery/gallery.state.js" defer></script>
  <script src="js/navbar/navbar.directive.js" defer></script>
  <script src="js/navbar/navbar.controller.js" defer></script>
  <script src="js/details/details.state.js" defer></script>
  <script src="js/details/details.controller.js" defer></script>
  <script src="js/about/about.state.js" defer></script>
  <script src="js/about/about.controller.js" defer></script>
  <script src="js/admin/admin.state.js" defer></script>
  <script src="js/admin/projectManagement/projectManagement.state.js" defer></script>
  <script src="js/admin/exhibitManagement/exhibitManagement.state.js" defer></script>
  <script src="js/test/test.state.js" defer></script>
  <script src="js/test/test.controller.js" defer></script>
</head>

<body ng-app="MSP">
    <navbar></navbar>
    <ui-view></ui-view>
</body>

<footer>
</footer>

</html>