<div class="detailsSection">
  
  <div class=bar>

  <div class="galleryBar" id="noscroll">
    
    <div class="galleryImg" ng-repeat="altView in altViews">
      <img ui-sref="details.alt" class="galleryPic" ng-src="{{altView.imageSrc.slice(7)}}">
    </div>
   
  </div>
   <a id="backToGallery" ng-click="backToGallery()">Back to {{projTitle}}</a>
  </div>

  
  <div id="mainPicContainer" ng-mouseenter="hover = true" ng-mouseleave="hover = false">
      <p id="exTitle">{{exhibit.title}}</p>
      <img class="zoom" id="mainPic" ng-src="{{exhibit.imageSrc.slice(9)}}">
      <div id="picBar">
        <p>hover to zoom</p>
      </div>
  </div>
  <div class="desc">
    
    <h2 id="projTitle" ng-show="!hover">PROJECT DESCRIPTION <a id="collapseDesc" ng-click="collapsed = !collapsed">{{collapsed ? '+' : '-'}}</a></h2>
    <div id="projDesc">
    <div id='target' ng-show="hover" style='height: 70vh; margin-top: 2.5vh; overflow-x: hidden !Important'></div>
    <p ng-show="!hover && !collapsed">{{projDesc}}</p>
    </div>
    <div id=picDescContainer>
    <p id="picDesc">{{exhibit.description}}</p>
    <div id="picDetails">
      <ul id="picSpecs">
        <li ng-repeat="spec in exhibit.specs">{{spec}}</li>
      </ul>
    </div>
  </div>
</div>