<div class="detailsSection">
  
  <div class=bar>

  <div class="galleryBar noscroll">
    
    <div class="galleryImg" ng-repeat="altView in altViews">
      <img ng-click="changeToAltView(altView)" class="galleryPic" ng-src="{{altView.showing ? exhibit.thumbnail  : altView.thumbnail}}">
    </div>
   
  </div>
   <a id="backToGallery" ng-click="backToGallery()">Back to {{projTitle}}</a>
  </div>

  
  <div id="mainPicContainer" ng-mouseenter="hover = true" ng-mouseleave="hover = false">
      <p id="exTitle">{{exhibit.title}}</p>
      <img ng-show="!showVideo" ng-class="{showVideo : zoom}" id="mainPic" ng-src="{{currImage}}">
      <div ng-show="showVideo" id="exhibitVideo"></div>
  </div>

  <div class="desc">
    
    <h2 id="projTitle" ng-hide="hover && !showVideo">PROJECT DESCRIPTION <a id="collapseDesc" ng-click="collapsed = !collapsed">{{collapsed ? '+' : '-'}}</a></h2>
    <div id="projDesc">
    <div id='target' ng-show="hover && !showVideo" style='height: 70vh; margin-top: 2.5vh; overflow-x: hidden !Important'></div>
    <p ng-show="!collapsed && (!hover || showVideo)">{{projDesc}}</p>
    </div>
    <div id=picDescContainer>
    <p id="picDesc">{{exhibit.description}}</p>
    <div id="picDetails">
      <ul id="picSpecs">
        <li ng-repeat="spec in exhibit.specs">{{spec}}</li>
      </ul>
    </div>
  </div>
</div>