<div ng-if="isLandscape()" id="allExhibits" style="margin-top: 20vh; margin-left: 10vw; width: 80vw; display: -webkit-flex; display: flex;  -webkit-flex-direction: row; flex-direction: row; flex-wrap: wrap; -webkit-flex-wrap: flex;" infinite-scroll='loadMore()' infinite-scroll-distance='2' infinite-scroll-immediate-check='false'>
  <div ng-repeat="exhibit in allExhibits" style="width: 10vw; margin-right: 1vw; margin-top: 1vh; height: 25vh;" ng-click = 'goToExhibit(exhibit.project, exhibit)'>
  <img style="object-fit:contain; height: 100%; width: 100%;" ng-src="{{exhibit.thumbnail}}">
  </div>
</div>

<div ng-if="!isLandscape()" id="allExhibits" style="margin-top: 20vh; margin-left: 10vw; width: 80vw; display: -webkit-flex; display: flex;  -webkit-flex-direction: row; flex-direction: row; flex-wrap: wrap; -webkit-flex-wrap: flex;" infinite-scroll='loadMore()' infinite-scroll-distance='2' infinite-scroll-immediate-check='false'>
  <div ng-repeat="exhibit in allExhibits" style="width: 25vw; margin-right: 1vw; margin-top: .5vh; height: 25vh;" ng-click = 'goToExhibit(exhibit.project, exhibit)'>
  <img style="object-fit:contain; height: 100%; width: 100%;" ng-src="{{exhibit.thumbnail}}">
  </div>
</div>