<div id="AdminPanel">
  <div id="projectPanel">
    <h1>Manage Projects</h1>
    <form name="projectForm" id="projectForm">
      <md-input-container><label>project title</label><input type="text" name="projTitle" ng-model="projTitle"></md-input-container>
      <label>project description</label><textarea style="width: 500px;" id="exInput" type="text" name="projDesc" ng-model="projDesc"></textarea>
    </form>
    <md-button class="md-raised" ng-click="makeProject(projTitle, projDesc)">Make project</md-button>
    <ul>
      <li ng-repeat="project in projects">
        <a ui-sref="adminProject({ projectId: project.id })">{{$index+1}} Title:{{project.title}}, Display:{{project.display ? "Showing" : "Hidden" }}</a>
      </li>
    </ul>
    <div id="switch">
    <md-input-container>
      <label>Original Project Position</label>
      <input type="number" ng-model="pos1" required>
    </md-input-container>
    <md-input-container>
      <label>Desired Project Position</label>
      <input type="number" ng-model="pos2" required>
    </md-input-container>
    </div>
    <md-button class="md-raised" ng-click="switchProjPos(pos1, pos2)">Move Project</md-button>
  </div>

  <div id="linkPanel">
    <h1>Manage Links</h1>
    <form name="linkForm" id="linkForm" style="display: flex; flex-direction: column;">
      <div style="display: flex;">
        <md-input-container>
          <label for="linkTitle">link title</label>
          <input type="text" name="linkTitle" ng-model="linkTitle"></input>
        </md-input-container>
        <md-input-container>
          <md-select ng-model="linkType" placeholder="Select a link type">
            <md-option ng-value=""></md-option>
            <md-option ng-repeat="option in ['PDF', 'Link', 'Video']" ng-value="option">{{ option }}</md-option>
          </md-select>
        </md-input-container>
      </div>
      <md-input-container ng-if="linkType === 'Link'">
        <label for="url">URL</label>
        <input type="text" name="url" ng-model="linkData.url"></input>
      </md-input-container>
      <br></br>
      <md-button ng-disabled="!linkTitle" ng-show="linkType == 'PDF'" class="md-raised" ngf-select="uploadFile($file, 'PDF')">Upload PDF</md-button>
      <md-button ng-disabled="!linkTitle" ng-show="linkType == 'Link'" class="md-raised" ngf-select="uploadFile($file, 'Link', linkData.url)">Upload Image</md-button>
    </form>
    <!-- <md-button class="md-raised" ng-click="makeLink(linkTitle, linkType, linkDate)">Make Link</md-button> -->
    <br></br>
    <ol>
      <li ng-repeat="link in links">
        {{link.date | date}}
        {{link.title}}
        <md-button class="md-raised" ng-click="setVisibility(link.id, !link.display)">{{ link.display ? 'Disable Link' : 'Enable Link' }}</md-button>
        <md-button class="md-raised" ng-click="deleteLink(link.id)">Delete Link</md-button>
      </li>
    </ol>
    <!-- TODO: Add type dropdown
    TODO: Add upload pdf button if type selected is PDF
    TODO: Add upload image if type is Link
    TODO: Add Hide btn
    TODO: Add the ability to delete
    TODO: Add Ability to add a date to the links / sort by date -->
  </div>
</div>

<a id="logout" ng-click="logOff()">Log Out</a>