<div id="TitleBox">
  <title  ng-if="state!==home" class="navTitle" ui-sref="home">MATTHEW SPIEGELMAN
  </title>
  <a class="nav-title" ng-if="state!==details" id="shop-link" href="https://www.secretoffice.biz/" target="_blank">SHOP</a>
  <!--<div ng-if="!isLandscape()" class="navTitle" ui-sref="home"><p id="firstName">MATTHEW</p><p> SPIEGELMAN</p>
  </div>-->
  <a class="info" ui-sref="about" ng-if="!back">Info</a>
  <img id="waves" src="wavy.png" ng-click="goBack()" ng-if="back">
  <a class="news" ui-sref="allExhibits" ng-if="!backEx">ALL</a>
  <img class="news" id="zenzer" src="zenzercircle.png" ng-if="backEx" ng-click="goBack()">
  <a href="https://www.instagram.com/matthewspiegelman/" target="_blank" class="gram">gram</a>
</div>