<div class="adminProject">
  <div id="projectControl">
    <a ui-sref="admin">Back to Admin Panel</a>
    <h2 style="margin: 0">Project Title</h2>
    <h3>{{project.title}}</h3>
    <input class="titleInput" type="text" ng-model="projForm.projectTitle">
    <a ng-click="editTitle()">submit new title</a>
    <h4>Project Description</h4>
    <p id="adminProjDesc" ng-repeat="desc in project.description track by $index">{{desc}}</p>
    <textarea class="adminProjDesc" ng-model="projForm.projectDesc"></textarea>
    <a ng-click="editDescContent()">submit new description</a>
    <a ng-click="clearDescContent()">clear description</a>
  </div>
  <div id="exhibitControl">
    <h2 style="align-self : center">Submit new picture/movie</h1>
      <label>Description:</label>
      <textArea id="exInput" type="text" name="exDesc" ng-model="exForm.exDesc"></textarea>
      <label>Specs:</label>
      <textArea type="text" name="exSpecs" ng-model="exForm.exSpecs" placeholder="Separate values by a comma (eg: 2010, 50mm f1.4 1/320s, Film)"></textarea>
      <md-button class="md-raised" ngf-select="upload($file)" ngf-accept="'image/*'">Upload an image</md-button>
      <label>Vimeo URL:<input type="text" name="videoUrl" ng-model="exForm.videoUrl"></label>
      <md-button class="md-raised" ng-click="addVideo()">Add Video</md-button>
  </div>
</div>
<div id="adminExhibits">
  <div class="adminExhibit" ng-repeat="exhibit in exhibits">
    <img ui-sref="exhibitManagement({projId: project.id, id: exhibit.id})" class="exhibitImages" ng-src="{{exhibit.thumbnail}}">
    <p>{{$index+1}} {{exhibit.title}}</p>
    <a ng-click="deleteExhibit(exhibit.id)">delete</a>
  </div>
</div>

<div id="switch" style="display: flex; justify-content: center; flex-direction: column; align-items: center;">
  <!--<md-button ng-click="toggleVisibility()" class="md-raised">{{project.display ? "Hide Project" : "Show Project"}}</md-button>
  <div style="display: flex; flex-direction: row">
    <md-input-container>
      <label>Pic To</label>
      <input type="number" ng-model="pos1" required>
    </md-input-container>
    <md-input-container>
      <label>Pic From</label>
      <input type="number" ng-model="pos2" required>
    </md-input-container>
    <md-button class="md-raised" ng-click="switch(pos1, pos2)">Switch Order</md-button>
  </div>-->


  <div style="display: flex; flex-direction: row">
    <md-input-container>
      <label>Current Picture Position (from)</label>
      <input type="number" ng-model="x" required>
    </md-input-container>
    <md-input-container>
      <label>Desired Picture Postion (to)</label>
      <input type="number" ng-model="y" required>
    </md-input-container>
    <md-button class="md-raised" ng-click="switchPicPos(x, y)">Switch Pic Position</md-button>
  </div>


  <md-button ng-click="deleteProject()" class="md-raised">Delete this project</md-button>
</div>