<div class="adminProject">
  <h1>{{project.title}}</h1>
  <input class="titleInput" type="text" ng-model="projForm.projectTitle"></input>
  <a ng-click="editTitle()">submit new title</a>
  <h4>Project Description</h4>
  <p>{{project.description}}</p>
  <textarea class="adminProjDesc" ng-model="projForm.projectDesc"></textarea>
  <a ng-click="editDescContent()">submit new description</a>
  <label>Exhibit Title:</label><input type="text" name="exTitle" ng-model="exTitle">
  <label>Exhibit Description:</label><textArea type="text" name="exDesc" ng-model="exDesc"></textarea>
  <label>Exhibit Specs:</label><textArea type="text" name="exSpecs" ng-model="exSpecs" placeholder="separate values by a comma (eg: 2010, 50mm f1.4 1/320s, Film)"></textarea>
  <md-button class="md-raised" ngf-select="upload($file)" ngf-accept="'image/*'">Upload on file select</md-button>
  <div id="adminExhibits">
  <div class="adminExhibit" ng-repeat="exhibit in exhibits">
    <img ui-sref="exhibitManagement({projId: project.id, id: exhibit.id})" class="exhibitImages" ng-src="{{exhibit.thumbnail.slice(9)}}">
    <p>{{$index+1}} {{exhibit.title}}</p>
    <a ng-click="deleteExhibit(exhibit.id)">delete</a>
  </div>
  </div>
  <div id="switch">
    <md-input-container>
      <label>Project Pos 1</label>
      <input type="number" ng-model="pos1" required>
    </md-input-container>
    <md-input-container>
      <label>Project Pos 2</label>
      <input type="number" ng-model="pos2" required>
    </md-input-container>

    <md-button class="md-raised" ng-click="switch(pos1, pos2)">Switch Order</md-button>
  </div>
  <a ng-click="deleteProject()">Delete this project.</a>
  <a ui-sref="admin">Back to Admin Panel</a>
      </div>