<container>
  <h1 id="galTitle">{{project.title}}</h1>
  <div id="gallery">
    <table id="initialSpacer"></table>
    <div id="galleryPics">
      <table id="initialSpacer"></table>
      <span class="galContainer" ng-repeat="exhibit in exhibits">
      
      <div class="galImageContainer underlay underlay-0">
      
      <div ng-mouseenter="exhibit.showTitle = true" ng-mouseleave="exhibit.showTitle = false" class="galImage first underlay underlay-0">
        <img ng-if="exhibit.type === 'Picture' " ui-sref="details({projTitle: project.title, projId: project.id, exhibitId: exhibit.id})" class="galImages" ng-src="{{exhibit.thumbnail}}">
        <iframe ng-if="exhibit.type === 'Video'" ng-src="{{exhibit.video | trusted}}" height = "{{iframeHeight * .84}}" width = "{{iframeHeight * .84 * 16/9}}"  frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      <p class="exhibitTitle" ng-show="exhibit.showTitle">{{exhibit.title}}</p>
      </div>
      
      </div>
     
      </span>
      <div>
        <div class="galDesc noscroll" ng-show="!hide">
          <span id="galText" class="noscroll">
            <p ng-repeat="desc in description track by $index" class="galParagraph">
              {{desc}}
            </p>
          </span>
          <p ng-click="hide = true" class="hideGalDesc">hide</p>
        </div>
      </div>
    </div>
  </div>
  <p id="showGalDesc" ng-show="hide" ng-click="hide = false">Show Description</p>
</container>