#about,
#bio,
#CV {
  -js-display: flex; display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

#CV {
  width: 45vw;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

#portraitAndLinks {
  -js-display: flex; display:flex;
  flex-direction: column;
}

#portraitContainer {
  height: 40vh;
  margin-bottom: 2vh;
}

#portrait {
  height: 100%;
}

#AdminPanel {
  padding-top: 15vh;
  -js-display: flex; display:flex;
  flex-direction: row;
}

#projectPanel {
  -js-display: flex; display:flex;
  flex-direction: column;
  align-items: center;
  flex-grow: .5;
}

#aboutPanel {
  -js-display: flex; display:flex;
  flex-direction: column;
  align-items: center;
  flex-grow: .5;
}

#adminExhibits {
  -js-display: flex; display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 10vh;
}

#portraitContainer {
  height: 40vh;
}

.adminExhibit {
  height: 25vh;
  -js-display: flex; display:flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (orientation: landscape) {
  #about,
  #bio,
  #CV {
    margin-left: 10vw;
  }
  #portraitAndLinks {
    position: fixed;
    right: 10vw;
    top: 15vh;
  }
  #portraitContainer {
    max-width: 30vw;
    margin-bottom: 2vh;
  }
}

@media only screen and (orientation: portrait) {
  #CV {
    width: 65vw;
    margin-top: 20vh;
    margin-bottom: 5vh;
    margin-left: 7vh;
  }
  #portraitAndLinks {
    margin-top: 5vh;
    margin-bottom: 5vh;
    align-self: center;
    order: 1
  }
  #about,
  #bio,
  #CV,
  {
    -js-display: flex; display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}