#about,
#bio,
#CV {
  -js-display: flex;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}

.about-page{
  display: flex;
  justify-content: center;
  padding: 100px;
}

#CV {
  width: 45vw;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

#portraitAndLinks {
  -js-display: flex;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}

#portraitContainer {
  height: 40vh;
  margin-bottom: 2vh;
}

#portrait {
  height: 100%;
}

#AdminPanel {
  padding-top: 15vh;
  -js-display: flex;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  margin-bottom: 50px;
}

#projectPanel {
  -js-display: flex;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  flex-grow: 0.5;
}

#aboutPanel {
  -js-display: flex;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-grow: 0.5;
  flex-grow: 0.5;
}

#adminExhibits {
  -js-display: flex;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 10vh;
}

#portraitContainer {
  height: 40vh;
}

.adminExhibit {
  height: 25vh;
  -js-display: flex;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
}

@media only screen and (orientation: landscape) {
  #about,
  #bio,
  #CV {
    margin-left: 10vw;
  }
  #portraitAndLinks {
    right: 10vw;
    top: 15vh;
    flex-basis: 20%;
  }
  #portraitContainer {
    max-width: 30vw;
    margin-bottom: 2vh;
  }
  .links {
    flex: 1;
  }
}

@media only screen and (orientation: portrait) {
  #CV {
    width: 65vw;
    margin-top: 20vh;
    margin-bottom: 5vh;
    margin-left: 7vh;
  }
  #portraitAndLinks {
    margin-top: 5vh;
    margin-bottom: 5vh;
    -webkit-align-self: center;
    align-self: center;
    -webkit-order: 1;
    order: 1;
  }
  #about,
  #bio,
  #CV {
    -js-display: flex;
    display: -webkit-flex;
    display: flex;
    -webkit-direction: column;
    flex-direction: column;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: center;
    align-items: center;
  }
}

.links {
  display: flex;
  flex: 1;
  font-size: 2.5em;
  padding: 100px;
}

.linkSection {
  display: flex;
  flex-direction: column;
  outline: none;
}

.link-list{
  display: flex;
  flex-direction: column;
}

.link-title {
  color: black;
  text-decoration: underline;
  text-decoration-color: #F415FE;
}

.link-image {
  width: 100%;
  object-fit: contain;
}

.linkSection>.material-icons{
  text-decoration: none;
  color: grey;
}

.portrait-text>p {
  font-size: 1.5em;
}