#test {
  -js-display: flex; display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#test {
  font-family: 'Geometric415'
}

#projectForm {
  -js-display: flex; display:flex;
  flex-direction: column;
  justify-content: center;
}

.adminExhibit {
  height: 25vh;
  margin: 2vw;
  -js-display: flex; display:flex;
  flex-direction: column;
  align-items: center;
}

.exhibitImages {
  height: 100%;
}

.adminProject {
    -js-display: flex; display:flex;
    justify-content: space-around;
    flex-direction: row;
    padding-top: 20vh;
}

#adminProjDesc {
  width: 50vw;
}

#exhibitManagement {
    -js-display: flex; display:flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    padding-top: 5vh;
    padding-left: 15vw;
}

#editExhibitContent {
    flex-direction: column;
    -js-display: flex; display:flex;
    width: 20vw;
}

#exhibitMgmtDiv {
  width: 33vw;
}

#exhibitMgmtImg {
  width: 100%;
}

#adminExhibits {
  -js-display: flex; display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 10vh;
}

input {
  border: 1px black solid;
}

#altViewsMgmt {
  -js-display: flex; display:flex;
  flex-direction: column;
}

#adminProjDesc {
  width: 50vw;
}

#exhibitControl {
    flex-direction: column;
    justify-content: space-between;
    -js-display: flex; display:flex;
    width: 40vw;
}

#control {
    -js-display: flex; display:flex;
    margin-top: 20vh;
}

#projectControl {
    -js-display: flex; display:flex;
    flex-grow: .5;
    flex-direction: column;
}

textarea {
    flex-grow: 1;
    height: 200px !important;
    border: 1px black solid !important;
}

#login-form {
    padding-top: 20vh;
    -js-display: flex; display:flex;
    flex-direction: column;
    flex-grow: .5;
    align-items: center;
}

a#logout {
    -js-display: flex; display:flex;
    justify-content: center;
}