.detailsSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100vh;
}

.galleryBar {
  display: flex;
    flex-direction: column-reverse;
    overflow-y: scroll;
    height: 70vh;
    width: 15vw;
    align-items: flex-end;
    margin-top: 24vh;
    margin-right: 2vw;
}

.noscroll::-webkit-scrollbar {
  display: none;
}

#projDesc {
  height: 70vh;
}

.galleryImg {
  width: 9vw;
  
}

.galleryPic {
  width: 100%;
  outline: none;
}

#mainPicContainer {
max-height: 75vh;
    max-width: 50vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-self: center;
    cursor: crosshair;
}

#target {
  overflow: scroll !important;
}

#picDesc {
  width: 100%;
  max-height: 10vh;
  overflow-y: scroll;
}

#mainPic {
  max-width: 50vw;
    max-height: 50vw;
    height: auto;
    width: auto;
}

h2 {
  font-family: 'Geometric415';
  font-size: 18px;
}

p {
  font-family: 'Geometric415';
  font-size: 12px;
}

li {
  font-family: 'Geometric415';
  font-size: 12px;
}

ul {
  list-style: none;
  padding-left: 0;
}

.desc {
     width: 35vw;
    display: flex;
    flex-direction: column;
    margin: 8vh 1vw 7.3vh 1vw;
    overflow-y: scroll;
}

h2#projTitle {
  align-self: center;
  font-size: 13px;
  margin-top: 0;
}

* {
  border: 0;
  margin: 0;
  padding: 0;
}

#picDescContainer {
  margin-top: auto;
}


/* these styles are for the demo, but are not required for the plugin */

.zoom {
  display: inline-block;
  position: relative;
}


/* magnifying glass icon */

.zoom:after {
  content: '';
  display: block;
  width: 33px;
  height: 33px;
  position: absolute;
  top: 0;
  right: 0;
  background: url(icon.png);
}

.zoom img {
  display: block;
}

.zoomImg {
  background-color: #f00;
}

.zoomimg {
  background-color: green;
}

.zoom img::selection {
  background-color: transparent;
}

a#backToGallery {
  align-self: center;
}

.bar {
  display: flex;
  flex-direction: column;
}

#collapseDesc {
  font-size: 15px;
}

#picBar {}

#exTitle {
  font-size: 12px;
  text-align: center;
}

#exhibitVideo {
  align-self: center;
}

#backArrow {
  position: fixed;
  height: 5vh;
  margin-top: 50vh;
  transform: translate(0, -50%);
}