.noscroll::-webkit-scrollbar {
  display: none;
}

.noscroll::-moz-scrollbar {
  display: none;
}



h2 {
  font-family: 'Geometric415';
  font-size: 18px;
}

p {
  font-family: 'Geometric415';
  font-size: 12px;
}

li {
  font-family: 'Geometric415';
  font-size: 12px;
}

ul {
  list-style: none;
  padding-left: 0;
}

h2#projTitle {
  -webkit-align-self: center;
  align-self: center;
  outline: none;
  font-size: 13px;
  margin-top: 0;
}

* {
  border: 0;
  margin: 0;
  padding: 0;
}

a#backToGallery {
  -webkit-align-self: center;
  align-self: center;
}

#collapseDesc {
  font-size: 15px;
}

#exTitle {
  font-size: 12px;
  text-align: center;
}

#exhibitVideo {
  -webkit-align-self: center;
  align-self: center;
}

#backArrow {
  position: fixed;
  height: 5vh;
  margin-top: 50vh;
  margin-left: 1.5vw;
  transform: translate(0, -50%);
}

#picDesc::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

#target::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

@media only screen and (orientation: landscape) {
  #target {
    display: -webkit-flex;
    -webkit-flex-direction: column;
    overflow: hidden;
  }
  h2#projTitle:hover {
    color:  #8503FF;
  }
  #picDesc {
    /*margin-right: -16px;*/
    width: 100%;
    max-height: 25vh;
    overflow-y: scroll;
  }
  #projDesc {
    height: 45vh;
    overflow-y: scroll;
    /*margin-right: -16px;*/
    margin-bottom: 10px;
  }
  #picDescContainer {
    margin-top: auto;
  }
  .detailsSection {
    -js-display: flex;
    display: -webkit-flex; 
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    height: 100vh;
  }
  .bar {
    -js-display: flex; 
    display: -webkit-flex;
    display:flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    overflow: hidden;
  }
  .galleryBar {
    -js-display: flex; 
    display: -webkit-flex;
    display:flex;
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
    overflow-y: scroll;
    height: 70vh;
    width: 15vw;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    margin-top: 24vh;
    margin-right: 2vw;
  }
  .desc {
    width: 35vw;
    -js-display: flex; 
    display: -webkit-flex;
    display:flex;
    flex-direction: column;
    margin: 8vh 3vw 7.3vh 1vw;
    overflow-y: scroll;
  }
  #mainPic {
    max-width: 50vw;
    max-height: 85vh;
    height: auto;
    width: auto;
  }
  #mainPicContainer {
    max-height: 75vh;
    max-width: 50vw;
    -js-display: flex;
    display: -webkit-flex; 
    display:flex;
    justify-content: center;
    -webkit-flex-direction: center;
    flex-direction: column;
    -webkit-align-self: center;
    align-self: center;
    cursor: crosshair;
  }
  .galleryPic {
    width: 100%;
    outline: none;
    margin-bottom: 10px;
  }
  .galleryImg {
    width: 9vw;
  }
}

@media only screen and (orientation: portrait) {
  #galTitle{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    height: 8vh;
  }
  #target {
    height: 35vh;
    margin-top: 2.5vh;
  }
  #exDescs li{
    font-size: 1em;
  }
  .detailsSection {
    -webkit-flex-direction: column;
    flex-direction: column;
    -js-display: flex; 
    display: -webkit-flex;
    display:flex;
    justify-content: space-around;
  }
  #picDescContainer {
    -js-display: flex; 
    -webkit-display: flex;
    display:flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    width: 75vw;
  }
  #mainPicContainer {
    max-width: 85vw;
    -js-display: flex; 
    -webkit-display: flex;
    display:flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-self: center;
    align-self: center;
    cursor: crosshair;
    order: -1;
    margin-top: 20vh;
  }
  #mainPic {
    margin-bottom: 2.5vh;
    max-width: 75vw;
    max-height: 75vh;
    height: auto;
    width: auto;
  }
  .detailsSection {
    -js-display: flex; 
    display: -webkit-flex;
    display:flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .bar {
    -js-display: flex; 
    display: -webkit-flex;
    display:flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    order: 1;
    height: 15vh;
    width: 75vw;
  }
  #projDesc {
    height: 30vh;
  }
  .desc {
    -js-display: flex; 
    display: -webkit-flex;
    display:flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    width: 100vw;
    -webkit-justify-content: center;
    justify-content: center;
    overflow: overlay;
  }
  .galleryBar {
    -js-display: flex; 
    display: -webkit-flex;
    display:flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    height: 15vh;
    width: 75vw;
    overflow: overlay;
  }
  .galleryPic {
    height: 100%;
    outline: none;
  }
  .galleryImg {
    margin-right: 10px;
    height: 15vh;
  }
  #target {
  overflow: scroll !important;
}
}