.galImageContainer {
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 10px;
}

.galImage {
  align-items: center;
  height: 95%;
  margin-top: 8vh;
  justify-content: center;
}

#galTitle {
  position: fixed;
  font-family: 'Geometric415'; 
  font-size: 14px;
  margin: 5% auto;
  margin-top: 3vh;
  width: 100%;
  text-align: center;
}

#galleryPics {
  display: flex;
  flex-direction: row;
}

#gallery {
  display: flex;
  flex-direction: column;
}

.galDesc {
  position: fixed;
    font-family: 'Geometric415';
    font-size: 14px;
    width: 26vw;
    margin-top: 6vh;
    padding: 10px;
    text-align: center;
    right: 2%;
    height: 86vh;
    overflow-y: scroll;
    background: rgb(250,250,250)
}

.galImages {
  height: 95%;
  cursor: pointer;
}

p.hideGalDesc {
    position: fixed;
    top: 7.5vh;
    right: 3vw;
    cursor: pointer;
}

p#showGalDesc {
    position: fixed;
    margin-left: 85%;
}

#galText {
    padding: 4vh 1vw 0vh 1vw;
    display: block;
}

.galParagraph {
  text-align: left;
}

.exhibitTitle {
  position: absolute;
  width: 30vw;
}

.notselected {
  opacity: .85;
}


.galContainer {
  width: 100%;
}