#galTitle {
  font-family: 'Geometric415';
  font-size: 14px;
  margin: 5% auto;
  margin-top: 3vh;
  width: 100%;
  text-align: center;
}

#galleryPics {
  display: flex;
  flex-direction: row;
}

#gallery {
  display: flex;
  flex-direction: column;
}

.galImages {
  cursor: pointer;
}

p.hideGalDesc {
  position: fixed;
  top: 7.5vh;
  right: 3vw;
  cursor: pointer;
}

p#showGalDesc {
  position: fixed;
  margin-left: 85%;
}

#galText {
  padding: 4vh 1vw 0vh 1vw;
  display: block;
}

.galParagraph {
  text-align: left;
}

.exhibitGalDesc {
  height: 8vh;
  display: flex;
}

.notselected {
  opacity: .85;
}

.galContainer {
  width: 100%;
}

@media only screen and (orientation: portrait) {
  .galImage {
    align-items: center;
    height: 95%;
    justify-content: center;
  }
  #galTitle {
    margin-top: 8vh;
    position: absolute;
  }
  #galleryPics {
    display: flex;
    flex-direction: column;
  }
  .galImages {
    width: 75%;
    cursor: pointer;
  }
  .galImage {
    display: flex;
    align-items: center;
    height: 95%;
    margin-top: 2vh;
    justify-content: center;
  }
  #initialSpacer {
    height: 8vh;
  }
  .galDesc {
    position: fixed;
    font-family: 'Geometric415';
    font-size: 14px;
    width: 75vw;
    margin-top: 15vh;
    padding: 10px;
    text-align: center;
    right: 12.5vw;
    height: 75vh;
    z-index: 5;
    overflow-y: scroll;
    background: rgb(250, 250, 250);
  }
}

@media only screen and (orientation: landscape) {
  .galDesc {
    position: fixed;
    font-family: 'Geometric415';
    font-size: 14px;
    width: 50vw;
    margin-top: 7vh;
    padding: 10px;
    text-align: center;
    right: 25vw;
    height: 86vh;
    overflow-y: scroll;
    background: rgb(250, 250, 250);
  }
  .galContainer {
    margin-left: 1vw;
  }
  .galImageContainer {
    height: 92vh;
    margin-right: 10px;
  }
  .galImage {
    align-items: center;
    height: 100%;
    margin-top: 8vh;
    justify-content: center;
  }
  .galImages {
    height: 92%;
  }
  #galTitle {
    position: fixed;
  }
}