#galTitle {
  font-family: 'Geometric415';
  text-align: center;
  color: #8503FF;
  outline: none;
}

#galTitle:hover {
  color: black;
}

#galleryPics {
  -js-display: flex;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}

#gallery {
  -js-display: flex;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}


/*.galImages {
  cursor: pointer;
}*/

p.hideGalDesc {
  position: fixed;
  top: 7.5vh;
  right: 3vw;
  cursor: pointer;
}

p#showGalDesc {
  position: fixed;
  margin-left: 85%;
}

#galText {
  padding: 4vh 1vw 0vh 1vw;
  display: block;
}

.galParagraph {
  text-align: left;
}

.exhibitGalDesc {
  height: 8vh;
  -js-display: flex;
  display: -webkit-flex;
  display: flex;
}


/*.galImageContainer {
  cursor: pointer;
}*/

@media only screen and (orientation: portrait) {
  .galContainer {
    width: 100%;
  }
  .galImage {
    -webkit-align-items: center;
    align-items: center;
    height: 95%;
    -webkit-justify-content: center;
    justify-content: center;
  }
  #galTitle {
    font-size: 14px;
    top: 4vh;
    height: 5vh;
    padding-top: 2vh;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 5;
    margin-left: 37.5vw;
    width: 25vw;
  }
  #galleryPics {
    -js-display: flex;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  .galImages {
    width: 75vw;
    /*cursor: pointer;*/
  }
  .galImage {
    -js-display: flex;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    height: 95%;
    margin-top: 2vh;
    -webkit-justify-content: center;
    justify-content: center;
  }
  .galContainer {
    -js-display: flex;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    margin-bottom: 10px;
  }
  #initialSpacer {
    height: 10vh;
  }
  .galDesc {
    position: fixed;
    font-family: 'Geometric415';
    font-size: 14px;
    width: 75vw;
    left: 12.5vw;
    /*margin-top: 22vh;*/
    padding: 10px;
    text-align: center;
    height: 75vh;
    z-index: 5;
    opacity: .95;
    overflow-y: scroll;
    background: rgb(250, 250, 250);
  }
  .exhibitGalDesc {
    width: 80vw;
    overflow: overlay;
  }
  #exDescs li {
    font-size: 6px;
  }
  #lastSpacer {
    width: 5vh;
  }
}

@media only screen and (orientation: landscape) {
  .current {
    webkit-box-shadow: -5px -5px 0px -3px #95a5a6;
    -moz-box-shadow: -5px -5px 0px -3px #95a5a6;
    box-shadow: -5px -5px 0px -3px #95a5a6;
    border: -3px white solid;
  }
  #galTitle {
    font-size: 14px !important;
    position: fixed;
    left: 0;
    right: 0;
    top: 1vh;
    margin-left: auto;
    margin-right: auto;
    width: 25vw;
    outline: none;
    z-index: 5;
  }
  #lastSpacer {
    width: 5vw;
    height: 100vh
  }
  .galDesc {
    position: fixed;
    font-family: 'Geometric415';
    font-size: 14px;
    width: 35vw;
    padding: 10px;
    text-align: center;
    right: 32.5vw;
    z-index: 5;
    height: 90vh;
    opacity: .95;
    overflow-y: scroll;
    background: rgb(250, 250, 250);
  }
  .galContainer {
    -webkit-flex-shrink: 0;
  }
  .galImageContainer {
    height: 90vh;
    margin-right: 1vw;
    /*margin-right: 10px;*/
  }
  .galImage {
    -webkit-align-items: center;
    align-items: center;
    height: 100%;
    margin-top: 8vh;
    -webkit-justify-content: center;
    justify-content: center;
  }
  .galImages {
    width: 100%;
    padding: 3px;
  }
  #galleryPics {
    height: 110vh;
  }
}