.pattern {
  -js-display: flex; display:flex;
}

body {
  overflow: scroll;
  height: 100vh;
}

#galleryTag {
  margin-top: 2vh;
}

#galleryTag p {
  text-align: center;
}

html {
  background-color: white !important;
}

a {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a:hover {
  color: #8503FF;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#LandingContainer {
  -js-display: flex; display:flex;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
}

.navTitle.testclass-0 {
  color: white;
}

@media only screen and (orientation: landscape) {
  /*.projects:hover {
    webkit-box-shadow: -7px -6px 0px -4px #95a5a6;
    -moz-box-shadow: -7px -6px 0px -4px #95a5a6;
    box-shadow: -7px -7px 0px -4px #95a5a6;
    border-left: 3px white solid;
    border-top: 2px white solid;
    padding: 0px;
  }*/
  #initialSpacer {
    width: 15vw;
  }
  #LandingContainer {
    flex-direction: row;
  }
  .projectPanel {
    margin-left: .5vw;
    height: 92vh;
    align-items: center;
    -js-display: flex; display:flex;
    overflow-x: hidden;
    flex-direction: column;
    justify-content: center;
    margin-top: 5vh;
    cursor: pointer;
    margin-right: 1vw;
  }
  container {
    max-height: 110vh;
  }
  img.projects {
    height: 90%;
    width: auto;
    padding-left: 3px;
    padding-top: 2px;
  }
  .pattern {
    -js-display: flex; display:flex;
    height: 90vh;
  }
}

@media only screen and (orientation: portrait) {
  
  #portraitLanding {
    margin-top: 5vh;
  }
  #LandingContainer {
    width: 100vw;
    flex-direction: column;
  }
  .projectPanel {
    width: 80vw;
    align-items: center;
    -js-display: flex; display:flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 3.5vh;
    overflow-x: hidden;
    cursor: pointer;
  }
  img.projects {
    width: 85%;
  }
  #initialSpacer {
    height: 10vh;
  }
  #lastSpacer {
    height: 10vh;
  }
}