#initialSpacer {
  width: 15vw;
}

.pattern {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

body {
  overflow: scroll;
  height: 100vh;
}

#galleryTag {
    margin-top: 87.5vh;
    position: relative;
    /* margin-bottom: 2vh; */
    /* bottom: 0; */
    width: 95%;
}

#galleryTag p {
  text-align: center;
}

html {
  background-color: white !important;
}

.selected {
  box-shadow: -5px -5px #777777;
}

a {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#LandingContainer {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
}

.navTitle.testclass-0 {
   color: white;
}

img.projects {
  clip: rect(auto, auto, auto, auto);
}

@media only screen and (orientation: landscape) {
  #clip {
    color: white; 
    margin: 1.9em -3.5em;
  }
  #LandingContainer {
    flex-direction: row;
    display: flex;
    align-items: center;
  }
  .projectPanel {
    height: 100%;
    /* width: 30vw; */
    /* clip: rect(auto, auto, auto, auto); */
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
    justify-content: center;
    margin-right: 25px;
    margin-top: 8vh;
    overflow-x: hidden;
    cursor: pointer;
 }
  container {
    max-height: 100vh;
  }
  img.projects {
    width: 95%
  }
}

@media only screen and (orientation: portrait) {
  #LandingContainer {
    flex-direction: column;
  }
  .projectPanel {
    width: 80vw;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 3.5vh;
    overflow-x: hidden;
    cursor: pointer;
  }
  img.projects {
    width: 90%;
  }
}