<section id="home">
  <container>
    <div id="LandingContainer">
      <table id="initialSpacer"></table>
      <!--For portrait mode, images display in column-->
      <div id="portraitLanding" ng-if="!isLandscape()" infinite-scroll='loadMore()' infinite-scroll-distance='2' infinite-scroll-immediate-check='false'>
        <h5 style="text-align: center; margin-top: -10vh; margin-bottom: 10vh;">PROJECTS</h5>
        <section ng-repeat="project in allProjects">
          <div class="pattern" ui-sref="gallery({projId: project.id})">
            <div class="projectPanel">
              <div id="hoverOverlay" style="position: absolute; clip: rect(auto, auto, auto, auto); margin-left: 6vw;" ng-style="{width: iframeWidth * .68, height: project.height}">
                <title style="color: white;" class="navTitle" ui-sref="home">MATTHEW SPIEGELMAN</title>
              </div>
              <img ng-mousemove="incrementer(project, project.exhibits.length)" id="proj-{{$index}}" class="projects" ng-src="{{project.exhibits[project.num].type==='Picture' ? project.exhibits[project.num].thumbnail : project.exhibits[project.num].imageSrc}}">
              
              <div id="galleryTag">
                <p style="font-size: 14px">{{::project.title}}</p>
              </div>
            </div>
          </div>
        </section>
        <table id="lastSpacer"></table>
      </div>
      <!--For landscape mode, images display horizontally-->
      <div style="display: -webkit-flex; display:flex; -webkit-flex-direction: row; flex-direction:row" ng-if="isLandscape()" infinite-scroll='loadMore()' infinite-scroll-distance='2'
        infinite-scroll-immediate-check='false'>
        <section ng-repeat="project in allProjects">
          <div class="pattern" ui-sref="gallery({projId: project.id})">
            <div class="projectPanel" ng-style="{width: isLandscape() && project.width}">
              <div id="hoverOverlay" style="position: absolute; height: 87.5vh; clip: rect(auto, auto, auto, auto)" ng-style="{width: project.width, 'margin-left': isFF ? -.5 * project.width : 0}">
                <title style="color: white; font-weight: 600;" class="navTitle" ui-sref="home">MATTHEW SPIEGELMAN</title>
                <span ng-repeat="exhibit in project.exhibits" ng-style="{width: project.width/project.exhibits.length}" style="height: 84vh; display:inline-block "
                  ng-mouseenter="changeImage($index, project)">
              </span>
              </div>
              <img ng-mousemove="incrementer(project, project.exhibits.length)" id="proj-{{$index}}" class="projects" ng-src="{{project.currImage}}">
              <div id="galleryTag">
                <p style="font-size: 12px">{{::project.title}}</p>
              </div>
            </div>
          </div>
        </section>
        <table id="lastSpacer"></table>
      </div>
      <div style='clear: both;'></div>
  </container>
</section>