<div class="about-page">
  <div class="links">
    <!-- Landscape View -->
    <div class="link-list" ng-if="isLandscape()">
      <div class="linkSection" ng-repeat="link in links">
        <a class="link-title" ng-click="setActiveLink(link.id)">
          {{ link.title }}
          <span ng-if="link.type == 'Link'" class="material-icons md-12"
            >link</span
          >
          <span ng-if="link.type == 'PDF'" class="material-icons md-12"
            >picture_as_pdf</span
          >
          <span
            ng-if="link.type == 'VimeoVideo' || link.type === 'YoutubeVideo'"
            class="material-icons md-12"
            >video_library</span
          >
        </a>
        <div ng-if="activeLink == link.id">
          <iframe
            ng-if="link.type == 'PDF'"
            ng-src="{{link.dirPath.slice(7)}}"
            style="width: 50vw; height: 75vh"
          >
          </iframe>
          <iframe
            ng-if="link.type === 'YoutubeVideo' || link.type === 'VimeoVideo'"
            width="640"
            height="467"
            ng-src="{{link.url}}"
            frameborder="0"
            allow="autoplay; encrypted-media"
            allowfullscreen
          >
          </iframe>
          <p ng-if="link.type == 'Link'">
            Click the image to visit the webpage.
          </p>
          <a ng-if="link.type == 'Link'" ng-href="{{link.url}}" target="_blank">
            <img class="link-image" ng-src="{{link.dirPath.slice(7)}}" />
          </a>
        </div>
      </div>
    </div>
    <!-- Portrait View -->
    <div class="link-list" ng-if="!isLandscape()">
      <div class="linkSection" ng-repeat="link in links">
        <a
          class="link-title"
          target="_blank"
          ng-href="{{link.type == 'PDF' ? link.dirPath.slice(7) : link.url}}"
        >
          {{ link.title }}
          <span ng-if="link.type == 'Link'" class="material-icons md-12"
            >link</span
          >
          <span ng-if="link.type == 'PDF'" class="material-icons md-12"
            >picture_as_pdf</span
          >
          <span
            ng-if="link.type == 'VimeoVideo' || link.type === 'YoutubeVideo'"
            class="material-icons md-12"
            >video_library</span
          >
        </a>
      </div>
    </div>
    <div id="portraitAndLinks">
      <div id="portraitContainer">
        <img id="portrait" src="/about/portrait/portrait.jpg" alt="potrait" />
      </div>
      <section class="portrait-text">
        <p>
          Matthew Spiegelman is an artist making photographs, books, and
          objects.
        </p>
        <p>
          He is an Associate Professor of Photography at Parsons The New School
          since 2011.
        </p>
        <p>You are currently reading this while visiting his website.</p>
      </section>
    </div>
  </div>
</div>
