<div id="exhibitManagement">
  <div id="editExhibitContent">
    <h4>Description</h4>
    <ul>
    <li ng-repeat="exDesc in exhibit.description track by $index">{{exDesc}}</li>
    </ul>
    <textarea class="adminExDesc" ng-model="exForm.exDesc"></textarea>
    <a ng-click="editDesc()">submit new description</a>
    <h4>Specs</h4>
    <ul>
    <li ng-repeat="exSpec in exhibit.specs track by $index">{{exSpec}}</li>
    </ul>
    <textarea class="adminExSpecs" ng-model="exForm.exSpecs"></textarea>
    <a ng-click="editSpecs()">submit new specs</a>
    <a ng-click="deleteExhibit()">Delete this exhibit</a>
    <a ui-sref="adminProject({projectId: projId})">Back to Project View</a>
  </div>
  
  <div id="exhibitMgmtDiv">
    <img id="exhibitMgmtImg" ng-src="{{exhibit.imageSrc.slice(9)}}">
  </div>


  <div id="altViewsMgmt">
    <h1>Alternate Views</h1>
    <label>Title</label><input ng-model="altForm.title" type="text">
    <md-button class="md-raised" ngf-select="addAltView($file)">Add Alt View</md-button>
    <label>Vimeo URL:</label><input ng-model="altForm.videoUrl" type="text">
    <md-button class="md-raised" ng-click="addAltVideo()">Add Alt Video</md-button>
    <ul>
      <li ng-repeat="altView in exhibit.altViews">
        {{$index + 1}} {{altView.title}} <a ng-click="deleteAltView(altView.id)">x</a>
      </li>
    </ul>
  </div>
</div>